html {
    scroll-behavior: smooth;
    font-family: "Shabnam";
}

body {
    margin: 0 auto;
    background-color: #e56b6f;
}

@font-face {
    font-family: 'Shabnam';
src: url('https://sahand.storage.iran.liara.space/font/Shabnam.woff');
src: url('https://sahand.storage.iran.liara.space/font/Shabnam.woff') format('embedded-opentype'),
     url('https://sahand.storage.iran.liara.space/font/Shabnam.woff') format('woff2'),
     url('https://sahand.storage.iran.liara.space/font/Shabnam.woff') format('woff'),
     url('https://sahand.storage.iran.liara.space/font/Shabnam.woff') format('truetype');
font-weight: normal;
font-style: normal;
}